[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
twine = "*"
rich = "*"
requests = "*"
gitpython = "*"

[packages]

[requires]
python_version = "3.8"

[scripts]
tests = "pytest tests"
release = "python scripts/release.py"
